<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload to Printer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
    </head>

    <body>
        <h1>Remote Printer Access</h1>
        <h3>Bug Dad (ME!) If you run into trouble</h3>
        <p>Here we can select a file to submit to the LAN printer!</p>
        <p>PDFs are best supported but other files that work are</p>
        <ul>
            <li>Text Documents: txt, docx, doc (Microsoft Word Documents), and other plain text or formatted documents</li>
            <li>Presentations: ppt, pptx (Microsoft PowerPoint Presentations)</li>
            <li>Some images like .jpg .png .jpeg .gif</li>
            <li>Spreadsheets: xls, xlsx (Microsoft Excel Spreadsheets)</li>
        </ul>
        <p>Consider converting the file you wish to print to PDF before submitting if it fails</p>
        <form action="/uploads" method="post" enctype="multipart/form-data">
            <label for="fileUpload">Choose a file to upload:</label>
            <input type="file" id="fileUpload" name="document" required onchange="showConfirmation()">
            <input type="submit" value="Send it to print!">
        </form>
        
        <!-- We have come a long way, take time to update these files to use external stylecss and scripts instead. Fine for now.-->

        <div id="fileConfirmation" style="display:none; margin-top: 20px;">
            <img src="{{ url_for('static', filename='images/business_fox.PNG') }}" alt="File ready" style="max-width: 100%; max-height: 300px;">        <p>Got it! Now hit send!</p>
        </div>
        <div id="preview"></div>
        <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
            <p>Drag one file here to upload</p>
        </div>
     

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>